.choresText {
   color: #1b2d2a;
   text-align: left;
   font-style: italic;
   font-weight: 500;
   font-size: 20px;
   padding-left: 5px;
   font-family: Arial, Helvetica, sans-serif;
}
.choresHeading {
   color: #1b2d2a;
   text-decoration: underline;
   font-weight: bolder;
   text-align: left;
   padding-left: 20px;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
}